.yellow-header {
    background-color: yellow;
    padding: 20px;
  }
  
  #company-name {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  body {
    background-image: url(./assets/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  section {
    margin-bottom: 20px;
  }
  
h2 {
    font-size: 20px;
    color: #555;
    text-align: center;
  }
  
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  img {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
  }
  
  .zoomed {
    transform: scale(1.2);
    transition: transform 0.3s;
  }

  p {
    text-align: center;
    font-size: 14px;
  }

  .black-footer {
    background-color: black;
    color: white;
    padding: 10px;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
  }

  /* style.css */

/* style.css */

/* Prieš tai esantis kodas išliko nepakeistas */

.right-align {
  display: flex;
  justify-content: flex-end;
}

#main-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-menu li {
  margin: 5px 0;
}

#main-menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#menu-toggle {
  margin-left: auto;
  cursor: pointer;
}

/* ... Po to esantis kodas išliko nepakeistas ... */

  
  /* #footer-text {
    text-align: right;
    margin: auto;
  }
  
  #footer-text,
  #copyright {
    flex: 1;
    text-align: left;
  }
   */